boto3==1.16.20
botocore==1.19.20
click==7.1.2
Flask==1.1.2
flask-lambda==0.0.4
future==0.18.2
importlib-metadata==3.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonpickle==1.4.1
MarkupSafe==1.1.1
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
